html {
  /* background-color: #f3f3f3; */
  color: #384347;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

body {
  background-color: #fff;
  margin: 0 auto;
  padding: 0 0.4in;
  width: 8.5in;
}

@media print {
  @page {
    size: letter portrait;

    margin: 0.4in 0.25in;

    @bottom-right {
      content: "Page " counter(page) " of " counter(pages);
    }
  }

  /* Used for work experience sections where the header is the only thing at the
     end of the page. Include a "directive" in the experience entry YAML to direct
     that the entry should avoid a page-break when rendering that section. */
  div.break-inside-avoid {
    break-inside: avoid;
  }
}

/* FontAwesome styles */
.fas {
  color: #4a90e2;
  font-size: 75%;
  padding-right: 0.4rem;
  position: relative;
  top: -1px;
}
